<p>NB:  player IDs have to be <b>added manually</b>, because Ikariam pulled any means to see the logged in player's ID number.  However, they are not necessary.</p>

<%= render :active_scaffold => "players_editor" %>
