<h1>Editing signatory</h1>

<%= error_messages_for :signatory %>

<% form_for(@signatory) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @signatory %> |
<%= link_to 'Back', signatories_path %>
