<h1>Listing signatories</h1>

<table>
  <tr>
  </tr>

<% for signatory in @signatories %>
  <tr>
    <td><%= link_to 'Show', signatory %></td>
    <td><%= link_to 'Edit', edit_signatory_path(signatory) %></td>
    <td><%= link_to 'Destroy', signatory, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New signatory', new_signatory_path %>
