<% form_for(@server) do |f| %>
  <p>
    <b>Hostname</b><br />
    <%= f.text_field :hostname %>
  </p>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>


  <p>
    <%= f.submit mode %>
  </p>
<% end %>
